// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600&family=Open+Sans:wght@300;400;500;600&display=swap');


@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Light.woff') format('woff');
    font-weight: 300;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Black') format('woff');
    font-weight: 900;
}

@font-face {
    font-family: 'Arita';
    src: url('../font/assets/font/Arita-Dotum-Medium.woff') format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'Mabry';
    src: url('../font/MabryPro-Bold.woff2') format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'orita';
    src: url('../font/assets/ObjectSans-Regular.otf') format('otf');
    font-weight: 500;
}