// header
.header{
    .header-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 5%;
        color: $color-wh;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: rgb(255 255 255 / 0%);
        backdrop-filter: blur(7px);
        z-index: 10;
    }
        .logo{
            width: 120px;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            img{
                width: 100%;
            }
        }
    .group-menu{
        position: fixed;
        top: 0;left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
        &.on{
            visibility: visible;
            opacity: 1;
        }
        .close{
            position: absolute;
            right: 15px;
            top: 15px;
            display: block;
            height: 20px;
            transform: rotate(45deg);
            span{
                display: block;
                width: 18px;
                height: 1px;
                background: #fff;
                transform: translate(-50%, -50%);
                &:nth-child(1){
                    position: absolute;
                    top: 10px;
                    transform: rotate(90deg);}
                &:nth-child(2){
                    transform: rotate(358deg);}
            }
        }
       
        .menu-area{
            position: absolute;
            top: 0;
            right: 0;
            width: 70%;
            height: 100vh;
            z-index: 2;
            background: #505050;
        }
        .menu-wrap{
            display: flex;
            align-self: stretch;
        }
        .menu-list{
            padding: 30px;
            // width: 60%;
            // height: 100%;
            //padding: 163px 56px 0 56px;
        }
        .menu-item{
            display: flex;
            margin-top: 20px;
            width: 100%;
            color: #c2ddd3;
            font-family: $font-en1;
            font-weight: 400;
            transition: .3s;
            .num{
                padding-right: 12px;
            }
            .ham{
                display: none;
            }
            .menu{
                width: 40%;
                // flex: 1;
                // padding-bottom: 30px;
                transition: 0.4s;
                font-family: 'Arita', 'Pretendard', sans-serif;
                font-size: 16px;
                &:hover{
                    color: #fff;
                    letter-spacing: 2px;
                }
            }
            .sub-box{
                flex: 1;
                // display: none;
            }
            .sub-list{
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-size: 14px;
                font-family: 'Arita', 'Pretendard', sans-serif;;
                transition: 0.2s;
                li:hover{
                    color: #fff;
                }
            }

        }
        .info-box{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 3;
            padding:4% 9%;
            width: 40%;
            height: 100%;
            background-color: #5c6c68;
            text-align: center;
            transition: 0.3s;
            .info-logo{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 115px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .info1-wrap{
            color: $color-wh;
            opacity: 0.8;
            h2{
               font-size: 28px;
               font-family: $font-en1; 
               line-height: 34px;
            }
            .adress{
                display: block;
                margin-top: 16px;
                margin-bottom: 16px;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                transition: .3s;
                &:hover{
                    opacity: 1;
                }
            }
            .info{
                display: block;
                margin-top: 16px;
                font-size: 17px;
                font-weight: 400;
                transition: .3s;
                &:hover{
                    opacity: 1;
                }
            }
        }
        .sns-wrap{
            display: flex;
            gap: 40px;
            .website{
                width: 25px;
                height: 25px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
  
    .gnb{
        display: flex;
        justify-content: center;
    }
    .gnb-list{
        display: flex;
        font-size: 18px;
        font-weight: 400;
    }
    .gnb-item{
        padding: 24px 27px;
    }



    .btn-menu{
        display: flex;
        align-items: center;
        position: fixed;
        top: 40px;
        left: 60px;
        font-size: 17px;
        z-index: 15;
        padding: 12px 30px;
        background-color: #141d24;
        border-radius: 40px;
        transition: background-color .3s;
        color: #fff;
        &:hover{
            background-color: #355761;
        }
        img{
            margin-right: 5px;
        }
    }
    .link-booking{
        display: flex;
        align-items: center;
        position: fixed;
        top: 40px;
        right: 60px;
        font-size: 17px;
        z-index: 15;
        color: #fff;
            padding: 12px 30px;
            background-color: #141d24;
            border-radius: 40px;
            transition: background-color .3s;
            &:hover{
                background-color: #355761;
            }
        img{
            margin-left: 5px;
        }
    }
}

@media (max-width:1000px){
    .header{
    .logo{
        width: 80px;
    }
    .gnb-list{
        font-size: 16px;
    }
    .gnb-item{
        padding: 12px 14px;
    }
}
}

@media (max-width:720px){
    .header{
        position: relative;
        top: 0;
        left: 0;
        .logo{
            width: 80px;
            padding: 10px 0;
        }
        .gnb{
            display: none;
        }
        .ham{
            display: inline-block;
            padding: 10px 0;
            span{
                display: block;
                width: 20px;
                height: 1px;
                background: #fff;
                margin: 5px 0;
            }
        }
        .gnb-list{
            font-size: 14px;
        }
        .gnb-item{
            padding: 8px;
        }
    }
}
